<html>

<head>

  <link rel="stylesheet" href="font-awesome.min.css">
 
  <link rel="stylesheet" href="dvdemo.css">

  <link rel="stylesheet" href="bootstrap.css">




</head>
<body align="center">


  <div id="header" class="header">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-12">
          <!-- EDIT: name -->
          <h1>Premier League Data Statistics</h1>
          <!-- EDIT: title | email -->
          <h3>Link to Data Set | <a href="https://www.kaggle.com/zaeemnalla/premier-league" target="_blank">Click here</a></h3>
        </div><!--/.col-lg-12 -->
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/.header -->
 


<section id="about" name="about"></section>
  
      <div class="row">
        
        <div class="col-lg-2 col-lg-offset-1">
          
<img src="pl.png" alt="League data" height="200" width="1000">

        </div>
        
        
        
      
  </div><!--/ #intro -->






<section id="about" name="about"></section>
  <div class="about">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-2 col-lg-offset-1">
          <h5>INTRODUCTION</h5>
        </div>
        <div class="col-lg-6">
          <!-- EDIT: about -->
          <p>The following visualizations are based upon a data set that deals with Premier League data which is basically a Soccer tournament played in England. The data related to 12 seasons is available. In this data story, we try to analyze all the data related to various seasons and try to put forth some interesting aspects about the data. Some interesting questions followed by a visualization that answers the question and a brief para about the visualization can been seen in the following data story.</p>
        </div>
        
        
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/ #intro -->






<section id="vis1" name="vis1"></section>
  <!-- EDUCATION SECTION -->
  <div class="container desc">
    <div class="row">

        <div class="col-lg-2 col-lg-offset-1">
          <h5>Visualization - I</h5>
        </div>
        <!-- EDIT: education line 1 -->
        <div class="col-lg-6">
          <p><t>What are the top 5 seasons in which most away goals were scored and all the teams 
                that were associated with those seasons with more than 50 away goals? </t><br/>
            
            <!--<br/><i>Extra info here</i>-->
          </p>
          <img src="dvimage1.png" alt="League data" height="600" width="800">
        </div>
  
        <!-- EDIT: education line 2 -->
        <div class="col-lg-6 col-lg-offset-3">
          <p><t>WHAT IS THE ANSWER:  </t><br/>
             There are 5 seasons in which most number of away goals were scored. The seasons are
             2011-2012, 2012-2013, 2013-2014, 2014-2015 and 2015-2016. 
            <!--<br/><i>Extra info here</i>-->
          </p>
        </div>
        <div class="col-lg-6 col-lg-offset-3">
          <p><t>HOW DOES THE VISUALIZATION HELP:  </t><br/>
             It is clearly depicted that there are 5 differnt seasons marked by 5 different colors
             where the most number of away goals were socred. This visualization also helps us in
             identifying the teams that were associated with those seasons and who have scored a minimum
             of 50 away goals.
            <!--<br/><i>Extra info here</i>-->
          </p>
        </div>
        
  
    </div><!--/.row -->
    <br>
    <hr>
  </div><!--/.container -->


<div class="container desc">
    <div class="row">

        <div class="col-lg-2 col-lg-offset-1">
          <h5>Visualization - II</h5>
        </div>
        <!-- EDIT: education line 1 -->
        <div class="col-lg-6">
          <p><t>What are the top teams that averaged more than 80 Goals per Season?</t><br/>
            
            <!--<br/><i>Extra info here</i>-->
          </p>
          <img src="dv_new_image2.png" alt="League data" height="600" width="800">
        </div>
  
        <!-- EDIT: education line 2 -->
        <div class="col-lg-6 col-lg-offset-3">
          <p><t>WHAT IS THE ANSWER:  </t><br/>
             The are 5 teams that averaged more than 80 goals in various seasons.
             They are Chelsea, Liverpool, Manchester City, Manchester United and
             Tootenham Hotspur.
            <!--<br/><i>Extra info here</i>-->
          </p>
        </div>
        <div class="col-lg-6 col-lg-offset-3">
          <p><t>HOW DOES THE VISUALIZATION HELP:  </t><br/>
             It is clearly depicted there are 5 teams that have scored more then 80 goals
             in various seasons. The visualization helps in identifying and comparing the 
             top teams that fall under this criteria. It can also be seen that the teams that have
             scored a significant amout of away goals (from Visualization I) fall under this category.
            <!--<br/><i>Extra info here</i>-->
          </p>
        </div>
        
  
    </div><!--/.row -->
    <br>
    <hr>
  </div><!--/.container -->



<div class="container desc">
    <div class="row">

        <div class="col-lg-2 col-lg-offset-1">
          <h5>Visualization - III</h5>
        </div>
        <!-- EDIT: education line 1 -->
        <div class="col-lg-6">
          <p><t>How do various statistics like away goals, own goals and corner kicks relate to each other for the Teams mentioned in the above visualization?</t><br/>
            
            <!--<br/><i>Extra info here</i>-->
          </p>
          <img src="dv_new_image3.png" alt="League data" height="600" width="800">
        </div>
  
        <!-- EDIT: education line 2 -->
        <div class="col-lg-6 col-lg-offset-3">
          <p><t>WHAT IS THE ANSWER:  </t><br/>
             The statistics like average of Away Goals, Corner Kicks taken and Own Goals are depicted and how they are related to each other can be seen. The seasons in which the average of away goals was atleast 1 per match are show.
            <!--<br/><i>Extra info here</i>-->
          </p>
        </div>
        <div class="col-lg-6 col-lg-offset-3">
          <p><t>HOW DOES THE VISUALIZATION HELP:  </t><br/>
             The visualization helps us in understanding the answer by clearly depicting the statistics like Average of Away goals, Corner kicks taken and Oome Goals. It can be seen that there is a significant influence of the avereage of Own goals and the corner kicks taken
             on the Average of away goals scored by the teams.
             
            <!--<br/><i>Extra info here</i>-->
          </p>
        </div>
        
  
    </div><!--/.row -->
    <br>
    <hr>
  </div><!--/.container -->


<div class="container desc">
    <div class="row">

        <div class="col-lg-2 col-lg-offset-1">
          <h5>Visualization - IV</h5>
        </div>
        <!-- EDIT: education line 1 -->
        <div class="col-lg-6">
          <p><t>What are the factors that influenced a particular team to not win a match and eventually
                the season?</t><br/>
            
            <!--<br/><i>Extra info here</i>-->
          </p>
          <img src="dv_new_image4.png" alt="League data" height="600" width="800">
        </div>
  
        <!-- EDIT: education line 2 -->
        <div class="col-lg-6 col-lg-offset-3">
          <p><t>WHAT IS THE ANSWER:  </t><br/>
             The penalty saves and the total red cards in a season was a prime factor for a team for
             their average win percentage.
            <!--<br/><i>Extra info here</i>-->
          </p>
        </div>
        <div class="col-lg-6 col-lg-offset-3">
          <p><t>HOW DOES THE VISUALIZATION HELP:  </t><br/>
             The visualization helps us in understanding the answer by clearly depicting how the average amount of red cards and the penalty saves influence the win percentage for a particular team.
             In brief, by taking into account the above visualizations, we can say that there are a lot factors that influence a team to win. Just by scoring a lot of Home goals is not sufficient if the amount of away goals and the penalties given are considerably high.
             
            <!--<br/><i>Extra info here</i>-->
          </p>
        </div>
        
  
    </div><!--/.row -->
    <br>
    <hr>
  </div><!--/.container -->



<div class="container desc">
    <div class="row">

        <div class="col-lg-2 col-lg-offset-1">
          <h5>SUMMARY</h5>
        </div>

        <div class="col-lg-6">
          <p><t>ANALYSIS AND SUMMARY</t><br/>
            
            <!--<br/><i>Extra info here</i>-->
          </p>
        </div>

        
        <div class="col-lg-6 col-lg-offset-3">
          <p><t>WHAT CAN BE SUMMARIZED FROM THE ANALYSIS USING THE VISUALIZATIONS?  </t><br/>
            It can be summarized from the above data story that a lot of factors influence the 
            performance of a team. We were able to put forth some interesting things 
             about the data set in the form of a story using visualizations that made sense. For example, the teams that had a high goal percentage at home but with a low away goal performance couldnt secure a high win percentage. It is indeed a interesting dataset and a lot of interesting patterns can be generated from it. 
            <!--<br/><i>Extra info here</i>-->
          </p>
        </div>
    </div><!--/.row -->
    <br>
    <hr>
  </div><!--/.container -->


  <section id="about" name="about"></section>
  
      <div class="row">
        
        <div class="col-lg-2 col-lg-offset-1">
          
<img src="pl3.png" alt="League data" height="400" width="1200">

        </div>
        
  </div><!--/ #intro -->

</body>

</html>
